BOT_TOKEN=8401119284:AAFKqQ_k69_YFuY3KTZmBtQ_30EGKshyB14
MONGODB_URI=mongodb+srv://dev921004_db_user:epjsblIoqpg5g4UZ@cluster0.ftk83db.mongodb.net/mydb?retryWrites=true&w=majority
EMAIL='kokame092@gmail.com'
PASSWORD="123qweQWE!@#"
ADMIN_ID=-5059391054
OPENAI_API=sk-proj-qlWO54Ltz0UBNFJCBXDHdv5qNC1kIHuT6bxL4hBn_Fct0CicDCAnN2C2WiGGIa2VdIem58mz2bkEAXXLsZhQF-aNRz2ftD3U0EtaXZiEzuiUdf0MHzeSJNuXyFyPo2J5orBqHcnUD9mIEJjVnrMIM_T3Blbk
# PROXY=http://171.22.118.18:42567
# PROXY_AUTH={"username":"user4024714","password":"5Xs4fx3TRo"}